@font-face {
  font-family: "iconfont"; /* Project id 4698088 */
  src: url('iconfont.woff2?t=1727432773222') format('woff2'),
       url('iconfont.woff?t=1727432773222') format('woff'),
       url('iconfont.ttf?t=1727432773222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doorroom:before {
  content: "\e9d6";
}

.icon-cc-bell-o:before {
  content: "\e613";
}

.icon-plus:before {
  content: "\e74b";
}

.icon-upload:before {
  content: "\e60f";
}

.icon-download:before {
  content: "\e610";
}

.icon-quit:before {
  content: "\e654";
}

.icon-user:before {
  content: "\e66d";
}

.icon-copy:before {
  content: "\e664";
}

.icon-chatroom:before {
  content: "\e620";
}

.icon-send:before {
  content: "\eaa3";
}

